html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* overflow-y: overlay; */
}
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.silent {
  color: #999;
}

hr {
  background-color: #f9f9f9;
}
/*input:focus {
  outline: none !important;
  box-shadow: 0 0 3px #719ece;
}
*/
textarea:focus {
  outline: none !important;
  /*box-shadow: 0 0 3px #719ece;*/
}
.msg-card {
  padding: 20px 0;
  border-bottom: 1px solid #f9f9f9;
  background-color: #fff;
}

.msg-card:first-of-type {
  margin-top: 5px;
}

.hilite {
  background-color: #e2f0ff;
}

.msg-card-inner {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
}
.channels-separator {
  color: #8e8e8e;
  margin: 10px 0;
  cursor: pointer;
}

.channels-separator:hover {
  text-decoration: underline;
}
.fa-plus:hover:before {
  content: "\f055";
  font-size: 1.2em;
}
.channel-name-card {
  padding: 0;
  font-size: 1.2em;
  background-color: #fff;
}

.thread-subject-card .msg-subject {
  text-overflow: ellipsis;
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;

  font-size: 1.1em;
  background-color: #fff;
}

.thread-subject-card {
  background-color: #fff;
  margin-right: -1rem;
}

.bs {
  box-shadow: 0px 1px 5px #e4e0e0;
}

.hero.is-fullheight {
  min-height: 93vh;
}

.mt5 {
  margin-top: 5px;
}

.pt25 {
  padding-top: 25px;
}

.fsn {
  font-size: 1em;
}
.fs85 {
  font-size: 0.85rem !important;
}
.fr {
  float: right;
}

.msgs .message:not(:first-child) {
  margin-top: -25px !important;
}

.msgs .content {
  margin-bottom: 0px;
}

.msgs .media {
  padding: 1rem 0;
  margin-top: 0 !important;
  padding-right: 0.5rem;
  border-right: 1px solid rgba(219,219,219,.5);
}

#message-feed,
#message-pane {
  background-color: #f9f9f9;
}

#message-pane {
  /*padding-right: 10px;*/
  padding-left: 0;
}
.new-msg-ta {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-color: #fff;
}

.inbox-messages {
  margin-top: 5px;
}

.elm-mini-controls {
  right: 750px !important;
}

.red {
  color: #c00;
}

/* begin notification style */
.notification {
  padding: 1rem 1.875rem 1rem 1rem;
}

.notification .delete {
  border-radius: 290486px;
  float: right;
  height: 20px;
  margin: 0;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 20px;
}

/* end notification style */
/* begin toast notification style */
#notification-container {
  pointer-events: none;
  position: fixed;
  top: 12px;
  left: 20px;
  right: 20px;
  z-index: 999999;
}

#notification-container > .notification {
  pointer-events: auto;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.9;
}

#notification-container > .notification:hover {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
  opacity: 1;
}

#notification-container > .notification:not(:last-child) {
  margin-bottom: 12px;
}

#notification-container > .notification > .delete {
  cursor: pointer;
}

/*top fluid right*/
#notification-container > .notification.toast-top-fluid-right {
  float: right;
  clear: both;
  width: 100%;
}
.toast {
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.3);
  min-width: 240px;
  padding: 10px 12px;
  box-sizing: border-box;
  /*border-radius: 0 4px 4px 0;*/
  position: fixed;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  /*transform: translatey(30%);*/
  background-color: #f1f1f1;
  transition: all 0.3s;
  opacity: 1;
  overflow: hidden;
  z-index: 1050;
}
.toast-title {
  margin-left: 38px;
}
.toast .tag {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 41px;
  border-radius: 0;
  z-index: 10;
}
.tag.is-success {
  background-color: #23d160;
  color: #fff;
}
.tag.is-warning {
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}
.tag.is-info {
  background-color: #3273dc;
  color: #fff;
}
.tag.is-danger {
  background-color: #ff3860;
  color: #fff;
}
.tag {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #4a4a4a;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 12px;
  height: 24px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
section.page-content,
.fade {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-enter,
.fade-leave-active {
  opacity: 0 !important;
}
.slide {
  transform: translate3d(0, 0, 0);
  transition: all 400ms;
}
.slide-enter,
.slide-leave-active {
  transform: translate3d(-110%, 0, 0);
}
.transiton-reverse .slide-enter,
.transiton-reverse .slide-leave-active {
  transform: translate3d(110%, 0, 0);
}

.new-thread-new-msg-wrapper .new-msg-ta {
  height: 400px !important;
  border: none;
}

.msg-subject > input {
  border: none;
  padding: 10px;
  width: 100%;
}

.no-border {
  border: none;
  outline: none;
  font-size: 1rem;
  color: #404040;
  font-weight: 400;
  line-height: 1.7;
}

.controls {
  /*position: absolute;
  right: 1%;
  padding: 10px 0;*/
  display: flex;
}

.new-thread-controls {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding: 20px 30px 30px;
  border-top: 1px solid #ececec;
  white-space: nowrap;
  background-color: #fff;
}

.new-thread-controls .channel-name {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 25px;
  overflow: hidden;
}

.subject-wrapper .msg-subject {
  padding-bottom: 0px;
  padding-top: 2px;
  margin-top: 5px;
  width: 100% !important;
}

.thread-first-msg {
  min-height: 21px;
}

#inbox-messages .media-content {
  margin-left: 1rem;
}

.channel-tag {
  border-radius: 14px !important;
}
.ts:hover span.align {
  display: none;
}
.ts:hover span.add-label {
  display: block;
}
span.add-label {
  display: none;
}
.start-new-thread:hover .msg-subject {
  color: #367ffb !important;
}

.msgs .media:hover {
  background-color: #ececec;
}

.msgs .media {
  cursor: pointer;
  padding-left: 1rem;
}
.media-content small {
  margin-left: 0.5rem;
}
/*
.msgs .media::before {
  content: "\f005";
}*/

.msgs .media.unread {
  font-weight: bold;
  border-left: 1px solid #555;
}
#tw {
  background-color: #fff;
}
#threads-wrapper {
  max-height: 600px;
  overflow-y: scroll;
  background-color: #fff;
  width: 481px;
  /*border-right: 1px solid #ccc;*/
}
#msg-wrapper {
  /*height: 100vh;*/
  max-height: 500px;
  min-height: 500px;
  overflow: scroll;
  background-color: #fff;
  margin-right: -10px;
}
#msg-inv-wrapper {
  transition-property: opacity;
  transition: opacity 3s ease;
  background-color: #fff;
}
#mainwarp .avatar img {
  width: 40px;
  border-radius: 50px;
  border: 2px solid #999;
  padding: 2px;
}

/* loginLayout */
#login .hero.is-success {
  background: #f2f6fa;
}
#login .hero .nav,
#login .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#login .box {
  margin-top: 5rem;
}
#login .avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}
#login .avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
#login input {
  font-weight: 300;
}
#login p {
  font-weight: 700;
}
#login p.subtitle {
  padding-top: 1rem;
}
/*
body > div:nth-child(2) {
  display: none;
}
*/
